/*home.html styles*/
.homeBody, .baseBody {
    font-family: 'Poppins', sans-serif;
    background-image: url("/static/images/home background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.homeH1, .baseH1 {
    font-weight: 800;
    color: black;
    display: inline-block;
    background-color: white;
    padding: 10px 50px 10px 50px;
}
.homeP {
    font-weight: 400;
}
.small-text {
    font-weight: 300;
}
.List{
    color: white;
}
.Link:link{
    color:blue;
    text-decoration: underline;
}
.Link:visited{
    color:blue;
    text-decoration:dashed;
}
.Link:hover{
    background-color:aliceblue;
    text-decoration: underline;
}

/*base.html styles*/
#baseBody {
    font-family: 'Poppins', sans-serif;
}
#baseH1 {
    font-weight: 800;
    color: black;
}

#audio-player-container .form-range {
    width: 100%;
}

#audio-player-container .btn {
    font-size: 1rem;
}
