/*home.html styles*/
.homeBody {
    font-family: 'Poppins', sans-serif;
    background-image: url("/static/images/home background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.homeH1 {
    font-weight: 800;
    color: black;
}
.homeP {
    font-weight: 400;
}
.small-text {
    font-weight: 300;
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    color:black;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color:whitesmoke;
    text-decoration: none;
}

/*atrist.html styles*/
.artistBody {
    font-family: 'Poppins', sans-serif;
}

.artistH1 {
    font-weight: 800;
    color: black;
}
.artistP {
    font-weight: 400;
}