<!--the form page to add a song-->
{% extends 'base.html' %}
{% block title %} Fill the form to add a song {% endblock %}

{% block formContent %}

<form action="{{ url_for('song.create_song') }}" method="post">
    <div class="container pt-4 pb-5 bg-light border">
        <div class="row">
            <div class="form-group">
                <label for="songName">Song Name:</label>
                <input required type="text" class="form-control" id="songName" name="song_name">
            </div>
        </div>
    
        <div class="row">
            <div class="form-group">
                <label for="artist">Artist:</label>
                <!--add name attribute to input tag-->
               <input required type="text" class="form-control" id="artist" name="artist">
            </div>
        </div>
    
        <div class="row">
            <div class="form-group">
                <label for="album">Album:</label>
                <!--add name attribute to input tag-->
               <input type="text" class="form-control" id="album" name="album">
            </div>
        </div> 

        <div class="row">
            <div class="form-group">
                <label for="songLen">Song length (seconds):</label> 
                <input type="number" class="form-control" id="songLen" name="song_length" value="60">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="genre">Genre:</label> 
                <!--add name attribute to input tag-->
                <input type="text" class="form-control" id="genre" name="genre">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="release_year">Release year:</label> 
                <!--add name attribute to input tag-->
                <input type="number" class="form-control" id="release_year" name="release_year" value="2015">
            </div>
        </div>
        
    </div>
    
    <div class="mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary me-5 fs-2">Save</button>
        <!--cancel button redirects to home page-->
        <a href="{{ url_for('home') }}" class="btn btn-danger me-5 fs-2">Cancel</a>
    </div>
</form>

{% endblock %}