<!--the form page to add an artist-->
{% extends 'base.html' %}
{% block title %} Artist {% endblock %}

{% block formContent %}
    <div class="form-group w-50">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group w-50">
        <label for="co">Country of Origin:</label>
        <input type="text" class="form-control" id="co">
    </div>

    <div class="form-group w-50">
        <label for="genre">Genre:</label>
        <input type="text" class="form-control" id="genre">
    </div>
{% endblock %}